@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf");
}

* {
  box-sizing: border-box;
  font-family: "Raleway";
}

html {
  font: 14px/1.4 Sans-Serif;
}

.settings {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  margin: 20px;
  z-index: 2;
  .settings-icon {
    width: 25px;
    height: 25px;
  }
  .settings-text {
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top: 0;
  }
}

form {
  position: absolute;
  top: 35px;
  left: 0;
  width: 320px;
  float: left;
  margin: 20px;
  > div {
    position: relative;
    overflow: hidden;
  }
  .input,
  textarea {
    width: 100%;
    border: 2px solid gray;
    background: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px 12px;
    outline: 0;
    margin-bottom: 15px;
    &:valid {
      // Hides the label
      background: white;
    }
    &:focus {
      border-color: #04c886;
    }
    &:focus + label {
      background: #04c886;
      color: white;
      font-size: 70%;
      padding: 1px 6px;
      z-index: 2;
      text-transform: uppercase;
    }
  }
  .label {
    transition: 0.2s;
    position: absolute;
    color: black;
    padding: 7px 6px;
    font-weight: bold;
  }
  textarea {
    display: block;
    resize: vertical;
  }
  .saveSettings {
    background-color: #04c886;
    border-radius: 5px;
    border: 1px solid #157c59;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 17px;
    padding: 12px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    &:hover {
      background-color: #0caa76;
    }
    &:active {
      position: relative;
      top: 1px;
    }
  }

  .save-success {
    background-color: #04c886;
    color: #157051;
    width: 100%;
    font-size: 10pt;
    font-family: "Raleway";
    font-weight: 600;
    padding: 5px 15px 5px 15px;
    margin-bottom: 10px;
    border: 1px solid #157c59;
  }
}

form.go-bottom {
  input,
  textarea {
    padding: 12px 12px 12px 12px;
  }
  label {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  input:focus,
  textarea:focus {
    padding: 4px 6px 20px 6px;
  }
  input:focus + label,
  textarea:focus + label {
    top: 100%;
    margin-top: -16px;
  }
}
form.go-right {
  label {
    top: 2px;
    right: 100%;
    width: 100%;
    margin-right: -100%;
    bottom: 2px;
  }
  input:focus + label,
  textarea:focus + label {
    right: 0;
    margin-right: 0;
    width: 40%;
    padding-top: 5px;
  }
}
